{% extends 'base.html.twig' %}

{% block titre %}
    <a href="/">Retour</a>/Tâches
{% endblock %}

{% block body %}
    <div>
        <button class="btn btn-sm btn-primary edit-project" title="Ajouter" data-id="0"  data-label="">Ajouter</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>
                    <a href="{{ path('tasks_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('tasks_edit', {'id': task.id}) }}">edit</a>
                     {{ include('tasks/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tasks_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('statement') }}
{% endblock %}
